/* css styles */
#navegacion a {
    margin: 5vmin;
}

img {

    width: auto;

    max-height: 50vh;
}

figcaption {

    text-align: center;
}

p {

    text-indent: 1.5vw;

    text-align: justify;
}

blockquote p {

    text-indent: 0 !important;
}

a {

    text-indent: 0 !important;
}


.final {

    display: flex;

    width: 100%;

    height: 30vh;

    justify-content: center;

    align-items: center;

    gap: 3vmin;

    margin: 3vmin;

    flex-direction: row;
}

.final div p {

    display: flex;

    flex-direction: column-reverse;
}

.final div a {

    margin: 4vmin;
}

/* Animacioes portada */
.anima {

    background-image: url('/img/Ilus.jpg');

    filter: grayscale(70%) saturate(12%) brightness(50%) contrast(100%);


    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;

    height: 90vh;

    background-size: cover;

}

.anima:hover {

    animation: iluminar 4s;

    filter: grayscale(0%) saturate(100%) brightness(120%) contrast(100%);
}

@keyframes iluminar {

    from {
        filter: grayscale(70%) saturate(12%) brightness(50%) contrast(100%)
    }

    to {
        filter: grayscale(0%) saturate(100%) brightness(120%) contrast(100%);

    }
}


#pitagoras {

    background-image: url('img/Index/Pit.jpg');
}

#boecio {

    background-image: url('img/Index/Boencio.jpg');
}

#rousseau {

    background-image: url('img/Index/Ilus.jpg');
}

#ayn-rand {

    background-image: url('img/Index/Ayn.jpg');
}

#webgrafia {

    text-align: center;
}