/* css styles */
#navegacion a {
    margin: 5vmin;
}

img {

    width: auto;

    max-height: 50vh;
}

figcaption {

    text-align: center;
}

.flex {

    display: flex;

    gap: 10vw;

    align-items: center;

}

.sec {

    opacity: 1;

    padding: 5vmin;
}

.sec:hover {

    animation-name: example;
    animation-duration: 2s;

    border-radius: 15vmin;

    background-color: whitesmoke;
}

#soc {

    display: flex;

    height: 65vh;

    width: 90vw;



    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    animation: carrusel ease;

    animation-iteration-count: infinite;

    animation-duration: 9s;


}





@keyframes carrusel {
    0% {
        background-image: url('/img/Carrusel_Pit/goras.png');
    }

    20% {
        background-image: url('/img/Carrusel_Pit/Pitaforas.gif');
    }

    40% {
        background-image: url('/img/Carrusel_Pit/Fractal.png');
    }

    60% {
        background-image: url('/img/Carrusel_Pit/Pitg.png');
    }

    80% {
        background-image: url('/img/Carrusel_Pit/Penta.png');
    }

    100% {
        background-image: url('/img/Carrusel_Pit/goras.png');
    }
}

.boecio {

    background-image: url('/img/Boencio.jpg');

    display: flex;
    height: 75vh;

    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    justify-content: center;

    align-items: center;




}

.boecio a {

    filter: grayscale(0%) !important;
}

.boecio:hover {
    animation: boe 4s;


    filter: grayscale(80%);
}

@keyframes boe {
    from {
        filter: grayscale(0%);
    }

    to {
        filter: grayscale(80%)
    }
}


.ross {

    background-image: url('/img/Ilus.jpg');
    filter: grayscale(70%) saturate(12%) brightness(50%) contrast(100%);

    gap: 10vh;

    justify-content: center;


    display: flex;

    height: 75vh;

    background-size: cover;

}

.ross a {

    margin-top: 7.5vh;
}


.ross:hover {

    animation: ilus 4s;

    filter: grayscale(0%) saturate(120%) brightness(100%) contrast(140%);
}

@keyframes ilus {

    from {
        filter: grayscale(70%) saturate(12%) brightness(50%) contrast(100%)
    }

    to {
        filter: grayscale(0%) saturate(120%) brightness(100%) contrast(140%);

    }
}

p {

    text-indent: 1.5vw;
}

blockquote p {

    text-indent: 0 !important;
}

a {

    text-indent: 0 !important;
}